<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produit-heading" jhiTranslate="getvySeverApp.produit.home.createOrEditLabel">Create or edit a Produit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getvySeverApp.produit.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom').invalid && (editForm.get('nom').dirty || editForm.get('nom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getvySeverApp.produit.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getvySeverApp.produit.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getvySeverApp.produit.disponibilite" for="field_disponibilite">Disponibilite</label>
                    <input type="checkbox" class="form-control" name="disponibilite" id="field_disponibilite"
                           formControlName="disponibilite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getvySeverApp.produit.pharmacie" for="field_pharmacie">Pharmacie</label>
                    <select class="form-control" id="field_pharmacie" name="pharmacie" formControlName="pharmacie">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pharmacieOption.id === editForm.get('pharmacie').value?.id ? editForm.get('pharmacie').value : pharmacieOption" *ngFor="let pharmacieOption of pharmacies; trackBy: trackPharmacieById">{{pharmacieOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
