<div>
    <h2 id="page-heading">
        <span jhiTranslate="getvySeverApp.jourTravail.home.title">Jour Travails</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jour-travail" [routerLink]="['/jour-travail/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="getvySeverApp.jourTravail.home.createLabel">
            Create a new Jour Travail
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jourTravails?.length === 0">
        <span jhiTranslate="getvySeverApp.jourTravail.home.notFound">No jourTravails found</span>
    </div>
    <div class="table-responsive" *ngIf="jourTravails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="getvySeverApp.jourTravail.jour">Jour</span></th>
            <th><span jhiTranslate="getvySeverApp.jourTravail.laboratoire">Laboratoire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jourTravail of jourTravails ;trackBy: trackId">
                <td><a [routerLink]="['/jour-travail', jourTravail.id, 'view' ]">{{jourTravail.id}}</a></td>
                <td>{{jourTravail.jour | date:'medium'}}</td>
                <td>
                    <div *ngIf="jourTravail.laboratoire">
                        <a [routerLink]="['/laboratoire', jourTravail.laboratoire?.id, 'view' ]" >{{jourTravail.laboratoire?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/jour-travail', jourTravail.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jour-travail', jourTravail.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jour-travail', { outlets: { popup: jourTravail.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
