<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jourDeGarde">
            <h2><span jhiTranslate="getvySeverApp.jourDeGarde.detail.title">Jour De Garde</span> {{jourDeGarde.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="getvySeverApp.jourDeGarde.jour">Jour</span></dt>
                <dd>
                    <span>{{jourDeGarde.jour}}</span>
                </dd>
                <dt><span jhiTranslate="getvySeverApp.jourDeGarde.cycle">Cycle</span></dt>
                <dd>
                    <div *ngIf="jourDeGarde.cycle">
                        <a [routerLink]="['/cycle', jourDeGarde.cycle?.id, 'view']">{{jourDeGarde.cycle?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jour-de-garde', jourDeGarde.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
