<div>
    <h2 id="page-heading">
        <span jhiTranslate="getvySeverApp.cycle.home.title">Cycles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cycle" [routerLink]="['/cycle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="getvySeverApp.cycle.home.createLabel">
            Create a new Cycle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cycles?.length === 0">
        <span jhiTranslate="getvySeverApp.cycle.home.notFound">No cycles found</span>
    </div>
    <div class="table-responsive" *ngIf="cycles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="getvySeverApp.cycle.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="getvySeverApp.cycle.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="getvySeverApp.cycle.libelle">Libelle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cycle of cycles ;trackBy: trackId">
                <td><a [routerLink]="['/cycle', cycle.id, 'view' ]">{{cycle.id}}</a></td>
                <td>{{cycle.dateDebut | date:'medium'}}</td>
                <td>{{cycle.dateFin | date:'medium'}}</td>
                <td>{{cycle.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cycle', cycle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cycle', cycle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cycle', { outlets: { popup: cycle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
